@model SupervisorAllotment.Models.Student

@{
    ViewBag.Title = "UpdatePreference";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    var teachers = ViewData["Teachers"] as IList<SupervisorAllotment.Models.Supervisor>;
}

<h2>Update Preference</h2>
<h4>@Model.Name @Model.CollegeId</h4>
<hr />
<div class="container-fluid">
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CollegeId)
                @Html.HiddenFor(model => model.Name)
                @Html.HiddenFor(model => model.Email)
                @Html.HiddenFor(model => model.DOB)
                @Html.HiddenFor(model => model.GateRank)
                @Html.HiddenFor(model => model.GateScore)
                @Html.HiddenFor(model => model.BtechScore)
                @Html.HiddenFor(model => model.Supervisor)

                <div class="form-group">
                    @Html.LabelFor(model => model.Preference, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.TextAreaFor(model => model.Preference, new { @class = "form-control", @cols = 200, @rows = 5 })
                    @Html.ValidationMessageFor(model => model.Preference, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6">
        <ul style="list-style-type:none; padding: 0">
            <li><strong>Instructions: </strong></li>
            <li>Enter Comma saperated ID(Given Below) of all supervisor according to your preference(Highest to Lowest).</li>
            <li>All IDs, which is integer, must be of one supervisor listed below, avoid duplicate entry.</li>
            <li>Example Valid Input: 101, 102, 103, 104</li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <label style="display:block">All Available Supervisors</label>
    @foreach (var item in teachers)
    {
        <div class="col-sm-3" style="border:1px solid black">
            <label>@item.Name</label>
            <p>ID: @item.ID</p>
            <p>Email: @item.Email</p>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
